.jumbotron#cover {
	background-image: url(/img/pianoCompResized.jpg);
	background-size: cover;
	padding: 2% 4% 29% 7%;
	/*min-height: 480px;*/
	/*background-position: 0 10%;*/
}

.jumbotron h1, .jumbotron p {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.icon {
	border-width: 1px;
	border-style: groove;
	border-radius: 5px;
	border-color: white;
}

iframe.report {
	width: 100%;
	height: 90vh;
}

.list-group {
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}
a { 
	cursor: pointer; 
}

#overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.6; /* see below for cross-browser opacity */
  background: black;
}

/*#playerContainer{
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
}*/

#placeholder h1, #placeholder img{
	z-index: 0;
}

#playerContainer h1 {
	text-align: center;
}

imgcaption p{
	text-align: center;
}

.selection-list {
	overflow: scroll;
	max-height: 563px;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}