
@font-face {
    font-family: 'Hearthstone Numbers';
    src: url('optibelwe-medium-webfont.woff2') format('woff2'),
         url('optibelwe-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	padding-bottom: 50px;
}

.jumbotron#cover {
	background-image: url(/img/pianoCompResized.jpg);
	background-size: cover;
	padding: 2% 4% 29% 7%;
	/*min-height: 480px;*/
	/*background-position: 0 10%;*/
}

.jumbotron h1, .jumbotron p {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.icon {
	border-width: 1px;
	border-style: groove;
	border-radius: 5px;
	border-color: white;
}

iframe.report {
	width: 100%;
	height: 90vh;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    opacity: 100;
}

.list-group {
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}
a { 
	cursor: pointer; 
}

#overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.6; /* see below for cross-browser opacity */
  background: black;
}

/*#playerContainer{
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
}*/

#placeholder h1, #placeholder img{
	z-index: 0;
}

.testing {
	font-family: "Hearthstone Numbers";
}

#playerContainer h1 {
	text-align: center;
}

imgcaption p{
	text-align: center;
}

.selection-list {
	overflow: scroll;
	max-height: 563px;
}

p.subtitle {
	color: grey;
}

.expander{
	position: absolute;
	bottom: 20%;
	right: 10%;
	color: grey;
	text-align: right;
}

.vertical-center {
	display: flex;
	align-items: center;
	/*flex-direction: column;*/
}

.vcenter {
	position: relative;
	top: 298px;
	transform: translateY(-50%);
}

.centered {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.tooltipWrapper {
	display: inline-block;
}

#minionTooltip {
	position: relative;
	left: 25em;
}

#launchButtonHolder {
	display: inline-block;
	position: relative;
	/*left: 25em;*/
	padding-bottom: 6px;
}

.counter {
	display: inline-block;
	position: relative;
	/*left: 25em;*/
	top: 1em;
	width: 100px;
}

#launcher {
	display: inline-block;
	position: relative;
	left: 25em;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 0 5px;
}

.tooltipWrapper .btn[disabled] {
	pointer-events: none;
}

.tooltipWrapper + .tooltip.top > .tooltip-inner {
	background-color: red;
	border: 2px solid DarkRed;
}

.tooltipWrapper + .tooltip.top > .tooltip-arrow {
	border-top: 5px solid DarkRed;
}

@-webkit-keyframes openMenu /*--for webkit--*/{

    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(-90deg);
    }                       

}

@-webkit-keyframes closeMenu /*--for webkit--*/{

    from{
        -webkit-transform:rotate(-90deg);
    }       
    to{
        -webkit-transform:rotate(0deg);
    }                       

}