h1 {
	text-align: center;
}

p.subtitle {
	text-align: center;
}

.icon1 {
	width: 520px;
	height: 520px;
	border: 1px solid black;
	margin: auto 50px;
	float: left;
	border-radius: 20px;
	padding: 20px;
	/*vertical-align: middle;*/
}

.icon1#first {
	margin-left: 100px;
}

.icon1#last {
	margin-right: 100px;
}

.icon1 h2 {
	margin: 20px auto;
	text-align: center;
	vertical-align: middle;
}

.icon2 {
	width: 408px;
	height: 325px;
	border: 1px solid black;
	float: left;
	margin: 24px 24px;
	border-radius: 20px;
}

.icon2#first {
	margin-left: 48px;
}

.icon2 h2 {
	text-align: center;
	vertical-align: middle;
}

.icon1 img {
	width: 100%;
}

.icon2 img {
	width: 100%;
}